.card {
    margin: 1em;
}

.card.section-process, .divider {
    float: left;
}

.card .badge {
    font-size: 1.5em;
    float: left;
    margin-right: 1em;
}

.divider {
    margin-top: 3em;
}

.divider.clear {
    clear: both;
}

.divider .fas {
    color: #cccccc;
    font-size: 2em;
}

.divider .start {
    color: #00800070;
}

.divider .stop {
    color: #ff000070;
}